dog-project/*
*.pyc
*/src/Generated/saved-models/*
.vscode
*/proposal/**/**/*.aux
*/proposal/**/**/*.fdb_latexmk
*/proposal/**/**/*.fls
*/proposal/**/**/*.gz
*/proposal/**/**/*.log
*/proposal/**/**/*.out

*/report/**/**/*.aux
*/report/**/**/*.fdb_latexmk
*/report/**/**/*.fls
*/report/**/**/*.gz
*/report/**/**/*.log
*/report/**/**/*.out
